.comment {
  margin-bottom: 4rem;
}

.comment-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.desc {
  /*font-size: 1rem;*/
  max-height: 15rem;
  overflow-y: auto;
  /*background: #FFF;*/
  /*padding: 5px;*/
  /*border: 1px solid rgba(0,0,0,.125);*/
}

.issue-title {
  font-weight: 800;
  font-size: large;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #b8c1c3;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #b8c1c3;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #b8c1c3;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b8c1c3;
}

:-ms-input-placeholder { /* Microsoft Edge */
  color: #b8c1c3;
}
