.comment {
  margin-bottom: 4rem;
}

.comment-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.desc {
  /*font-size: 1rem;*/
  max-height: 15rem;
  overflow-y: auto;
  /*background: #FFF;*/
  /*padding: 5px;*/
  /*border: 1px solid rgba(0,0,0,.125);*/
}

.btn {
  border-radius: 10px;
}

.issue-title {
  font-weight: 800;
  font-size: large;
}
