<div *ngIf="issue; then primaryBlock; else elseBlock"></div>

<ng-template #primaryBlock>

  <div class="card p-3">

    <div class="row">
      <div class="col col-12">
        <app-issue-status [issue]="issue"></app-issue-status>
      </div>
    </div>

    <div class="row d-flex w-100 justify-content-between m-0">
      <div class="col pl-0 mb-2">
        <span id="{{ issue.id }}" class="issue-title">{{ issue.title }}</span>
      </div>
      <div class="col-auto m-0 p-0 mb-1">
        <div class="row">
          <div class="col">
            <small class="date-info float-right mb-1 text-right">
              Dodany {{ issue.getCreatedDateAsDate() | date:'d.M.y'}}
            </small>
          </div>
        </div>
      </div>
    </div>

    <p *ngIf="issue.desc" class="desc">{{ issue.desc }}</p>

    <div *ngIf="issue && issue.images && issue.images.length > 0"
         class="row justify-content-lg-start pl-3 pr-3 pb-2 pt-0">
      <div *ngFor="let i of issue.images; let i = index"
           class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-1">
        <img src="{{i.url}}" class="rounded img-fluid">
      </div>
    </div>

    <div class="row m-0 mt-3 p-0" style="background-color: black;">
      <div class="col col-12"></div>
    </div>

    <div class="list-group mb-3">
      <h5 class="mt-3">Komentarze</h5>
      <div *ngIf="issue && issue.comments && issue.comments.length > 0">
        <div *ngFor="let i of issue.comments"
             class="list-group-item flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-1">{{ i.createdBy }}</h6>
            <small>{{ i.createdDate * 1000 | date:'d.M.y' }} o godz. {{ i.createdDate * 1000 | date:'h:mm' }}</small>
          </div>
          <p class="mb-1">{{ i.comment }}</p>
        </div>
      </div>
    </div>

    <div class="form-group">
        <textarea placeholder="Wpisz komentarz" [(ngModel)]="comment" name="comment" id="comment" rows="3"
                  class="form-control"></textarea>
    </div>
    <div class="row">
      <div class="col col-12">
        <div class="form-inline">
          <div class="form-group">
            <input placeholder="Autor" class="form-control mr-2" type="text" [(ngModel)]="commentAuthor"
                   name="commentAuthor"
                   id="commentAuthor"/>
          </div>
          <!--<button for="addPhoto" class="add-photo-btn btn btn-sm btn-primary mr-1"><i class="fa fa-camera"-->
                                                                                      <!--aria-hidden="true"></i></button>-->
          <!--<input id="addPhoto" #addPhoto style="width:0; visibility:hidden;" type="file" accept="image/*"-->
                 <!--capture="camera"/>-->

          <button class="btn btn-sm btn-primary" (click)="onSubmitComment()">Dodaj komentarz</button>
          <div class="form-group">

          </div>
        </div>
      </div>
    </div>

  </div>
</ng-template>

<ng-template #elseBlock>
  <div>

  </div>
</ng-template>
