agm-map {
  height: 50vh;
  z-index: 0;
}

img {
  z-index: 1;
  max-width: 4em;
  position:absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.map-border {
  border: 1px black solid;
  position:relative;
}
