<div class="container">
  <div class="header">
    <h1 class="p-sm-4">Nowy problem</h1>
  </div>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="body">
      <!-- mapka -->
      <app-issue-new-map (coordinatesChanged)="onCoordinatesChanged($event)"></app-issue-new-map>
      <p></p>
      <div class="row justify-content-center">
        <input type="file" accept="image/*" capture="camera" />
        <label type="button" class="btn btn-secondary">Dodaj zdjecie
        </label>
      </div>

      <div class="form-group">
        <label for="selectCategory">Kategoria</label>
        <select class="form-control" #selectCategory id="selectCategory" (change)="setCategory(selectCategory.value)">
          <option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="title">Krótki opis problemu *</label>
        <input required [(ngModel)]="issue.title" name="title" type="text" class="form-control" id="title">
      </div>

      <div class="form-group">
        <label for="desc">Szczegolowy opis problemu</label>
        <textarea [(ngModel)]="issue.desc" name="desc" id="desc" rows="5" class="form-control"></textarea>
      </div>
    </div>
    <div class="row justify-content-center">
      <button type="submit" [disabled]="!f.valid" class="btn btn-primary btn-lg">Gotowe!</button>
    </div>
  </form>
</div>
