<div class="container p-lg-5">
  <div class="row justify-content-center">
    <button class="btn btn-primary btn-lg" (click)="onNewIssue()">Zgłoś problem</button>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-md-3">
      <div class="list-group">
        <div *ngFor="let i of issues" (click)="bla()"
           class="list-group-item list-group-item-action flex-column align-items-start"
        >
          <span class="badge badge-{{i.category | slice:0:6}}">{{i.category}}</span>
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{i.title}}</h5>
            <small>{{i.createdAt | date:'short' }} </small>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-md-9">
      <app-map [issues]="issues" lat="lat" lng="lng"></app-map>
    </div>
  </div>


