<div class="map-border">
  <div class="map">
    <agm-map #gmap [latitude]="lat" [longitude]="lng" [zoom]="zoom" [gestureHandling]="'greedy'" [streetViewControl]=false>
      <agm-marker
        *ngFor="let i of issues"
        class="marker"
        [latitude]="i.lat"
        [longitude]="i.lng"
        [iconUrl]="'assets/img/default-marker.png'"
        (markerClick)="onClick(gmap, i)">
      </agm-marker>
      <agm-marker class="selectedMarker"
                  *ngIf="selectedIssue"
                  [latitude]="selectedIssue.lat"
                  [longitude]="selectedIssue.lng"
                  [iconUrl]="'assets/img/clicked-marker.png'">
      </agm-marker>
    </agm-map>
  </div>
</div>

