html {
  position: relative;
  /*height: 100%;*/
  height: 100%;
}

body {
  /*background-image: url("assets/img/pin.png");*/
  /*background-color: #fafafa;*/
  position: relative;
  min-height: 100%;
  padding-bottom: 30px; /* Margin bottom by footer height */
}

.background-image {
  position: fixed;
  /*left: 0;*/
  /*right: 0;*/
  /*top: 0;*/
  z-index: -1;

  height: 100%;
  width: 100%;

  display: block;
  background-image: url('http://static.prsa.pl/images/8831104c-5e3a-468a-9ebb-e279490a7349.jpg');
  /*background-color: #F0F4FD;*/
  /*background: -webkit-linear-gradient(left top, #F0F4FD, white); !* For Safari 5.1 to 6.0 *!*/
  /*background: -o-linear-gradient(bottom right, #F0F4FD, white); !* For Opera 11.1 to 12.0 *!*/
  /*background: -moz-linear-gradient(bottom right, #F0F4FD, white); !* For Firefox 3.6 to 15 *!*/
  /*background: linear-gradient(to bottom right, #F0F4FD, white); !* Standard syntax *!*/

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px) opacity(50%);
  filter: opacity(10%);
}

.page-title h1 {
  display: inline-block;
  margin: 1rem 0 1rem 0;
  /*padding-left: 0.5rem;*/
  /*font-weight: bold;*/
  font-size: 1.5rem;
}

.page-title h1::before {
  display: inline-block;
  border-left: 0.2em solid red;
  content: " ";
  font-size: 1em;
  padding: 0.7em 0 0 0.5em;
  /*width: 1rem;*/
}

.container {
  margin: 0 auto;
  width: 90%;
  /*min-height: 100%;*/
  height: 100%;
}

.card {
  border-radius: 10px;
  background-color: #e6e6f2;
  /*background: -webkit-linear-gradient(left top, #F0F4FD, white); !* For Safari 5.1 to 6.0 *!*/
  /*background: -o-linear-gradient(bottom right, #F0F4FD, white); !* For Opera 11.1 to 12.0 *!*/
  /*background: -moz-linear-gradient(bottom right, #F0F4FD, white); !* For Firefox 3.6 to 15 *!*/
  /*background: linear-gradient(to bottom right, #F0F4FD, white); !* Standard syntax *!*/
  filter: opacity(70%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

agm-map {
  height: 50vh;
  z-index: 0;
}

@media (min-width: 768px) {
  agm-map {
    height: 81vh;
    z-index: 0;
  }
}

.map {
  border-radius: 10px;
  overflow: hidden;
}

.map-border {
  border: 1px rgba(0,0,0,.125) solid;
  border-radius: 10px;
  position:relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
